* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

header {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    align-items: center;

    background: url(./assets/antonio-cuellar-KDS5lCrj_ew-unsplash.jpg);
    background-size: cover;
    
    width: 100%;
    height: 40em;
    
    
}
nav {
    width: 87%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1%;
    background: #313a70;
    padding-right: 2%;
    padding-left: 2%;
    opacity: 0.7;
    position: fixed; 
    top: 0px;
    transform: translateY(0px) scale(1);

}
.img-logo {
    filter: invert();
    width: 35%;
}

.container-ul {
    display: flex;
}
.container-logo {
    display: flex;
    align-items: center;
}
.nav-anchor {
    color: white;

        display: block; 
        padding: 20px;
        color: #fff;
        text-decoration: none;
}
.nav-anchor:hover {
    text-decoration: underline;
}

.nav-ul {
    list-style-type: none;
    display: flex;
    overflow: hidden; 
    align-items: center
}
.nav-li {
    display: contents;
    padding: 2%;
    font-family: 'Kanit', sans-serif;
    white-space: nowrap;
}
.transparent {
background-color: transparent;
border: none;
color: white;
}
.transparent:hover {
color: #0d0f19;
}
/******SECTION 1*****/

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title1 {
    font-size: 5rem;
    font-family: 'Cormorant Garamond', serif;    
    font-weight: 150;
    color: #313a70;
    margin-top: 1.5em;
    z-index: 100;
}
.tittle2 {
    font-size: 2rem;
    font-family: 'Cormorant Garamond', serif;    
    font-weight: 400;
    color: #ffffff;
    z-index: 100;
}

/******SECTION 2******/
.container-secondary {
    background-color:#393f63;
    display: flex;
    flex-direction: column;
    padding-top: 8em;
    padding-bottom: 8em;
}
.container-contact-us {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.title3 {
    font-family: 'Cormorant Garamond', serif;
    font-size: 3em;
    font-weight: 200;    
    color: white;
}
.learn-more-btn {
    font-size: 1.5em;
    font-family: 'Cormorant Garamond', serif;
    padding: 6px;
    padding-left: 20px;
    padding-right: 20px;
    background-color:#393f63;
    color: white;
    border-color: white;
    border-style: double;
}
.learn-more-btn:hover {
    background-color: white;
    color:#393f63;
}

/******SECTION 3******/

.container-terciary {
    background: url(./assets/grant-lemons-jTCLppdwSEc-unsplash.jpg);
    
    background-size: cover;
    width: 100%;
    height: 42em;
    display: flex;
    align-items: center;
    justify-content: flex-end

}
.third-container {
    padding: 7rem;
    color:#393f63;
    display: flex;
    text-align: right;
    flex-direction: column;
    width: 70%;
}
.title4 {
    font-family: 'Cormorant Garamond', serif;
    font-size: 3em;
    font-weight: 200;
    color:#393f63;
}
.text1 {
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.2em;
    font-weight: 200;    
    color:#393f63;
    padding-top: 2%;
    width: 50%;
    align-self: flex-end;
}
.span-bolder{
    font-weight: bolder;
    font-size: 1.3em;
}

/* <!-- ***********SECTION 4************************** --> */


.fourth-container {
    display: flex;
    padding-right: 10em;
    padding-left: 10em;
    padding-top: 5em;
    padding-bottom: 5em;
    flex-direction: column
}
.fourth-container-xl {
    padding: 2em;
    display: flex;
    padding-bottom: 5em;
}
.photo-container {
    padding: 1em;
    display: flex;
    width: 50%;
}
.photo {
    width: 535px;
}
.description-container {
    padding: 1em;
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center

}
.description {
    margin-top: 1em;
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.2em;
    font-weight: 200;    
    color:#393f63;
}
.bolder {
    background-color: #f1f2f9;
}



/* ***********section 5*********** */
.fifth-container{
    display: flex;
    flex-direction: column;
    align-content: space-between;
    align-items: center;
    justify-content: center;
    background: url(./assets/pedro-lastra-Nyvq2juw4_o-unsplash.jpg);
    background-size: cover;
    
    width: 100%;
    height: 40em;
}
.work-with-us-container{
    display: flex;
    flex-direction: column;
    padding-top: 12em;
    align-items: center
}
.title5 {
    font-family: 'Cormorant Garamond', serif;
    font-size: 5em;
    font-weight: 400;
    color:#ffffff;
    margin-bottom: 0.5em;
}
.contact-us-btn {
    font-size: 1.5em;
    padding: 6px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: transparent;
    border-color: white;
    border-style: double;
    margin-bottom: 1em;
    color: white;
    font-family: 'Kanit', sans-serif;
}
.contact-us-btn:hover{
    background-color: #313a70;
}
.work-with-us-text {
    font-size: 1.2em;
    font-family: 'Kanit', sans-serif;
    color:white;
    background-color: #aeb5e0;
    padding: 0.6em;
    opacity: 0.8;
    margin-bottom: 3em;

}


/* ***********section FORM*********** */
.form-section {
    display: flex;
    flex-direction: column;
    background-color: #313a70;
    padding: 7em;
    padding-right: 10em;
    padding-left: 10em;
    padding-top: 5em;
    padding-bottom: 5em;
}
.form-container {    
    font-family: 'Kanit', sans-serif;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    padding: 2em;
}
.form-container:hover{
    background-color: #edf0fe;
}
.right-form {
    display: flex;
    width: 50%;
    font-size: 1em;
    flex-direction: column;
    justify-content: center;
    padding: 2.5em;
    text-align: left;

}
.left-form {
    display: flex;
    width: 50%;
    font-size: 1em;
    flex-direction: column;
    justify-content: center;
    padding: 2.5em;
    text-align: right;
}
.title6 {
    padding-bottom: 1.5em;
    font-size: 1.5em;
}
.padding-bottom {
    padding-bottom: 1.5em;
}
/* compant-info */
.company-info{
    padding-top: 2.5em;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Kanit', sans-serif;
}
.company-info:hover{
    background-color: #edf0fe;
}
.padding-bottom-xs {
    padding-bottom: 0.3em;
}

/* FOOTER */
.footer-container {
    display: flex;
    justify-content: space-evenly;
    padding: 2.5em;
    font-size: 1.2em;
    font-family: 'Kanit', sans-serif;


}
