


/* HEADER
.header {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
    height: 90px;
    box-shadow: 0 0 29px 0 #000000;
    top: 0;
    position: fixed;
    background-color : transparent; 
        padding: 5px;
}
.nav-buttons {
    display: flex;
}
.company-logo {
    z-index: 1
}

 */


/*BARRA DEL NAVEGADOR*/
.header-ul {
    /* display: flex;
    align-items: center;
    margin-right: 5%;
    background-color : transparent; 
    color: rgb(255, 255, 255); */
}
.header-li {
    /* display: flex;
    justify-content: space-between;
    font-weight: 600;
    margin: 5%;
    list-style: none;
    font-size: 20px;
    background-color : transparent;  */
}
.header-li-color {
    /* color: black; */
}
.header-li-color:hover {
    /* color: rgb(43, 43, 43); */
}
/*BOTON DE CONTACTO*/
/* .boton-contacto {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    color: white;
    border-radius: 50px;
    border-color: rgb(0, 0, 0) 2px solid;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 20px;
} */
/* .boton-contacto:hover {
    background-color: rgb(141, 141, 141);

}
.boton-contacto-color {
    color: white;
} */
